@page "/"
@using GraphFlix_FrontEnd.Models;
@inject HttpClient Http
@inject IJSRuntime jsr

<PageTitle>GraphFlix</PageTitle>

<h1>Welcome to GraphFlix</h1>

Browse our movie list below.

@if (movieList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genres</th>
                <th>Release date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movieList)
            {
                string genres = "";
                <tr>
                    <td>@movie.Title</td>
                    <td>
                        @foreach (var item in movie.Genres)
                        {
                            genres += movie.Genres.IndexOf(item) == 0 ? item.Name : $", {item.Name}";
                        }
                        @genres
                    </td>
                    <td>@movie.ReleaseDate</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MovieModel> movieList;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        try
        {
            var requestMsg = new HttpRequestMessage(HttpMethod.Get, $"/api/Movie");
            var response = await Http.SendAsync(requestMsg);

            if (response.IsSuccessStatusCode)
            {
                movieList = await response.Content.ReadFromJsonAsync<List<MovieModel>>();
            }
        }
        catch (Exception ex)
        {

        }
    }
}
