@page "/admin"
@using Microsoft.AspNetCore.Authorization;
@*@attribute [Authorize(Roles = "Admin")]*@

<h3>Admin main page</h3>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            <button class="btn btn-primary" @onclick="() => ModalDialogMovie.Open()">Add movie</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary">Add genre</button>
        </div>
    </div>
</div>

<ModalDialog @ref="@ModalDialogMovie" Title="Movie details">
    <div class="column">    
        <CreateMovie OnSubmit="CloseCreateMovieModal"></CreateMovie>
    </div>
</ModalDialog>

@code {
    private ModalDialog ModalDialogMovie { get; set; }

    private void CloseCreateMovieModal()
    {
        ModalDialogMovie.Close();
    }
}
